{
  "android": {
    "keystore": {
      "keystorePath": "credentials/android-upload.jks",
      "keystorePassword": "replace-me",
      "keyAlias": "upload",
      "keyPassword": "replace-me"
    }
  }
}
